{{ define "flash" }}
    {{ range getFlash }}
        <div class="alert {{if .Level}} alert-{{.Level}} {{ else }} alert-warning {{ end }} alert-dismissible fade show" role="alert">
            <strong>
                {{if .Title}}
                    {{.Title}}
                {{else}}
                    {{.}}
                {{end}}
            </strong>
            {{if .Desc}}
                {{.Desc}}
            {{end}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {{end}}
{{ end }}